{{burger_name}}
 {{#if devoured}}
      <button class="eat-burger" data-id="{{id}}" data-devouredState="{{devoured}}">
         EAT IT!
      </button>
      {{else}}
      <button class="delete-burger" data-id="{{id}}">
         Toss it!
      </button>
{{/if}}

   